<?xml version="1.0"?>
<config>
    <modules>
        <Lesti_Version>
            <version>0.1.1</version>
        </Lesti_Version>
    </modules>
    <global>
        <blocks>
            <version>
                <class>Lesti_Version_Block</class>
            </version>
        </blocks>
        <helpers>
            <version>
                <class>Lesti_Version_Helper</class>
            </version>
        </helpers>
        <models>
            <version>
                <class>Lesti_Version_Model</class>
                <resourceModel>version_resource</resourceModel>
            </version>
            <version_resource>
                <class>Lesti_Version_Model_Resource</class>
                <entities>
                    <cms_page>
                        <table>version_cms_page</table>
                    </cms_page>
                    <cms_block>
                        <table>version_cms_block</table>
                    </cms_block>
                </entities>
            </version_resource>
        </models>
        <resources>
            <version_setup>
                <setup>
                    <module>Lesti_Version</module>
                </setup>
            </version_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <version before="Mage_Admin">Lesti_Version_Adminhtml</version>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <cms_page_save_commit_after>
                <observers>
                    <version_cms_page_save_commit_after>
                        <class>version/observer</class>
                        <method>cmsPageSaveCommitAfter</method>
                    </version_cms_page_save_commit_after>
                </observers>
            </cms_page_save_commit_after>
            <core_abstract_save_after>
                <observers>
                    <version_core_abstract_save_after>
                        <class>version/observer</class>
                        <method>coreAbstractSaveAfter</method>
                    </version_core_abstract_save_after>
                </observers>
            </core_abstract_save_after>
        </events>
        <layout>
            <updates>
                <version>
                    <file>version.xml</file>
                </version>
            </updates>
        </layout>
    </adminhtml>
</config>